spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/database
    username: root
    password: 123456

mybatis:
  configuration:
    map-underscore-to-camel-case: true

server:
  port: 8000
