<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.backend.mapper.InspectionStandardMapper">
    <select id="list" resultType="com.backend.pojo.InspectionStandard">
        SELECT 
            id,
            checkDate,
            checkItemName,
            checkQuantity,
            checkResult,
            checkStandardId,
            checkUser,
            checkValue,
            materialBatchNo,
            `maxValue`,
            `minValue`,
            createTime,
            updateTime
        FROM inspectionstandard
    </select>
</mapper>