<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.backend.mapper.MesProductCheckMapper">
    <insert id="add">
        insert into mesproductcheck(checkDate, checkItemName, checkQuantity, checkResult, checkStandardId, checkUser, checkValue, createBy, materialBatchNo, materialCode, materialId, materialModel, materialName, materialSpecification, materialUnit, `maxValue`, `minValue`, productDate, productFinishId, productFinishNo, productJobId, productJobName, productLineId, productLineName, productPlanId, productPlanNo, productQuantity, productScheduleId, qualifiedRate, remark, searchValue, serialNo, updateBy, updateTime, params)
        VALUE(#{checkDate},#{checkItemName},#{checkQuantity},#{checkResult},#{checkStandardId},#{checkUser},#{checkValue},#{createBy},#{materialBatchNo},#{materialCode},#{materialId},#{materialModel},#{materialName},#{materialSpecification},#{materialUnit},#{maxValue},#{minValue},#{productDate},#{productFinishId},#{productFinishNo},#{productJobId},#{productJobName},#{productLineId},#{productLineName},#{productPlanId},#{productPlanNo},#{productQuantity},#{productScheduleId},#{qualifiedRate},#{remark},#{searchValue},#{serialNo},#{updateBy},now(),#{params})
    </insert>
    <update id="update">
        update mesproductcheck set checkDate=#{checkDate}, checkItemName=#{checkItemName}, checkQuantity=#{checkQuantity}, checkResult=#{checkResult}, checkStandardId=#{checkStandardId}, checkUser=#{checkUser}, checkValue=#{checkValue}, createBy=#{createBy}, materialBatchNo=#{materialBatchNo}, materialCode=#{materialCode}, materialId=#{materialId}, materialModel=#{materialModel}, materialName=#{materialName}, materialSpecification=#{materialSpecification}, materialUnit=#{materialUnit}, `maxValue`=#{maxValue}, `minValue`=#{minValue}, productDate=#{productDate},
                                    productFinishId=#{productFinishId}, productFinishNo=#{productFinishNo}, productJobId=#{productJobId}, productJobName=#{productJobName}, productLineId=#{productLineId}, productLineName=#{productLineName}, productPlanId=#{productPlanId}, productPlanNo=#{productPlanNo}, productQuantity=#{productQuantity}, productScheduleId=#{productScheduleId}, qualifiedRate=#{qualifiedRate}, remark=#{remark}, searchValue=#{searchValue}, serialNo=#{serialNo}, updateBy=#{updateBy}, updateTime=now()
        where id=#{id}
    </update>
    <delete id="delete">
        delete from mesproductcheck where id=#{id}
    </delete>

    <select id="list" resultType="com.backend.pojo.MesProductCheck">
        SELECT * FROM mesproductcheck
        <where>
            <if test="checkDateStart!=null and checkDateEnd!=null">
                checkDate BETWEEN #{checkDateStart} AND #{checkDateEnd}
            </if>
            <if test="checkItemName!=null">
                AND checkItemName LIKE CONCAT('%',#{checkItemName},'%')
            </if>
            <if test="checkResult!=null">
                AND checkResult = #{checkResult}
            </if>
            <if test="checkUser!=null">
                AND checkUser LIKE CONCAT('%',#{checkUser},'%')
            </if>
            <if test="productDateStart!=null and productDateEnd!=null">
                AND productDate BETWEEN #{productDateStart} AND #{productDateEnd}
            </if>
            <if test="productFinishNo!=null">
                AND productFinishNo LIKE CONCAT('%',#{productFinishNo},'%')
            </if>
            <if test="productJobName!=null">
                AND productJobName LIKE CONCAT('%',#{productJobName},'%')
            </if>
            <if test="productPlanNo!=null">
                AND productPlanNo LIKE CONCAT('%',#{productPlanNo},'%')
            </if>
            <if test="serialNo!=null">
                AND serialNo LIKE CONCAT('%',#{serialNo},'%')
            </if>
            <if test="materialName!=null">
                AND materialName LIKE CONCAT('%',#{materialName},'%')
            </if>
            <if test="materialBatchNo!=null">
                AND materialBatchNo LIKE CONCAT('%',#{materialBatchNo},'%')
            </if>
        </where>
        ORDER BY checkDate DESC
    </select>
    <select id="getByID" resultType="com.backend.pojo.MesProductCheck">
        select * from mesproductcheck where id=#{id}
    </select>
</mapper>